@model IEnumerable<Car_Dealership.Models.Order>
@{
    ViewData["Title"] = "Orders";
}
<!DOCTYPE html>
 
<html>
<head>
    <title>Orders</title>
</head>
<body>
<h3>Orders</h3>
<table>
    <tr>
        <td>Order Id</td>
        <td>Customer Id</td>
        <td>Customer First Name</td>
        <td>Customer Last Name</td>
        <td>Customer Email</td>
        <td>Auto Id</td>
        <td>Auto brand</td>
        <td>Auto year</td>
        <td>Auto price</td>
        <td>Auto color</td>
        <td>Auto capacity</td>
    </tr>
    @foreach (var order in Model)
    {
        <tr>
            <td>@order.Id</td>
            <td>@order.CustomerId</td>
            <td>@order.Customer.FirstName</td>
            <td>@order.Customer.LastName</td>
            <td>@order.Customer.Email</td>
            <td>@order.AutoId</td>
            <td>@order.Auto.Brand</td>
            <td>@order.Auto.Year</td>
            <td>@order.Auto.Price</td>
            <td>@order.Auto.Color</td>
            <td>@order.Auto.Capacity</td>
            <td>
                <a asp-action="Delete" asp-route-id="@order.Id" style="background-color: #b7ffc9; text-align: center; border: 1px solid darkgrey">Delete</a>
            </td>
        </tr>
    }
</table>
</body>
</html>